<nav class="uk-navbar-container uk-letter-spacing-small">
  <div class="uk-container">
    <div class="uk-position-z-index" data-uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="index.html">RecipeBlog</a>
        <ul class="uk-navbar-nav uk-visible@m uk-margin-large-left">
          <li class="uk-active"><a href="{{ path('app_home') }}">Home</a></li>
          <li ><a href="{{ path('recipe_search') }}">Search</a></li>
          <li ><a href="contact.html">Contact</a></li>
        </ul>
      </div>

      {% if app.user %}

        <div class="uk-navbar-right">
          <div class="uk-navbar-item">
            <div><a class="uk-button uk-button-primary" href="{{ path('app_admin') }}">Administration</a></div>
          </div>          
          <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
            data-uk-navbar-toggle-icon></span></a>
        </div>
      {% else %}
          <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-visible@m">
            <li ><a href="{{ path('app_login') }}">Sign In</a></li>
          </ul>
          <div class="uk-navbar-item">
            <div><a class="uk-button uk-button-primary" href="{{ path('app_register') }}">Sign Up</a></div>
          </div>          
          <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
            data-uk-navbar-toggle-icon></span></a>
        </div>
      {% endif %}

      
    </div>
  </div>
</nav>