{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <a href="{{ path('post_new') }}" class="btn btn-primary mb-4">Add new article</a>

    <div class="row">

    {% for post in posts %}

        <div class="col-md-4">

            <div class="card border-primary mb-3" style="max-width: 24rem;">
                <img src="{{ vich_uploader_asset(post) | imagine_filter('card_thumb') }}"/>
                <div class="card-header">Header</div>
                <div class="card-body">
                    <a href="{{ path('post_edit', {id: post.id}) }}">
                        <h4 class="card-title">{{ post.titre }}</h4>
                    </a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>
        
    {% endfor %}

    </div>

    <div class="navigation">

        {{ knp_pagination_render(posts) }}

    </div>

{% endblock %}
